.top-design {
    min-height: 8rem;
    background-image: url("./styles/images/bg-header-mobile.svg");
    background-color: var(--clr-teal);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.filters {
    grid-area: filters;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.clear {
    grid-area: clear;
    align-self: center;
}

.clear > button {
    border: transparent;
    background-color: transparent;
    font-weight: 700;
    color: var(--clr-gray);
    cursor: pointer;
}

.close-buttons {
    display: flex;
}

button[name=remove] {
    display: flex;
    align-items: center;
    border: transparent;
    padding: 0.3rem;
    border-radius: 4px;
    background-color: var(--clr-background);
    color: var(--clr-teal);
    font-weight: 700;
    gap: 0.5rem;
    cursor: pointer;
    width: fit-content;
}

button[name=close] {
    background-color: var(--clr-teal);
    border: transparent;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    width: 2rem;
}

button[name=close] > svg {
    fill: var(--clr-card);
}

@media screen and (min-width: 992px) {
    .top-design {
        background-image: url("./styles/images/bg-header-desktop.svg");
    }

    .filters {
        grid-template-columns: repeat(3, 1fr);
    }
}


@supports (selector(:has(*))) {
    .filter-list {
        display: none;
    }
    
    .filter-list:has(button[name=remove]) {
        display: block;
        background-color: var(--clr-card);
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        padding: 1rem;
        border-radius: 4px;
        margin-top: -5rem;
        display: grid;
        grid-template-areas: "filters filters clear";
    }
}

@supports not (selector(:has(*))) {
    .filter-list {
        display: block;
        background-color: var(--clr-card);
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        padding: 1rem;
        border-radius: 4px;
        margin-top: -5rem;
        display: grid;
        grid-template-areas: "filters filters clear";
    }
}
