.top-design {
    min-height: 8rem;
    background-image: url("./styles/images/bg-header-mobile.svg");
    background-color: var(--clr-teal);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

@media screen and (min-width: 992px) {
    .top-design {
        background-image: url("./styles/images/bg-header-desktop.svg");
    }
}
